*{
  background-color: #f2f2f2;
}


h1{
  letter-spacing: 1px;
}

.button{
  border:0;
  background: lightblue;
  margin: 3px;
  float: right;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 7px;
}
